*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(0,0,0);
}

button{
    width: 200px;
    padding: 16px 32px;
    background-color: transparent;
    color: rgb(0,0,0);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 24px;
}